body {
  cursor: auto;
  overflow-x: hidden;
}

@font-face {
  font-family: "GreatVibes";
  src: local("GreatVibes"), url(/fonts/Great_Vibes/GreatVibes-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Grenze";
  src: local("Grenze"), url(/fonts/Grenze/Grenze-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "InriaSerif";
  src: local("InriaSerif"), url(/fonts/Inria_Serif/InriaSerif-Regular.ttf) format("truetype");
}
@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes mainLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*  * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
p {
  font-family: "InriaSerif";
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(/pictures/header.jpg) center;
  color: white;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .mainTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
header .mainTitle h1 {
  font-size: 7em;
  font-family: "GreatVibes";
  padding-top: 40px;
}
header .mainTitle ul {
  display: flex;
  gap: 50px;
}
header .logo {
  margin-top: -100px;
}
header .hourAdress {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding-bottom: 40px;
}
header .hourAdress_each {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .hourAdress_each span {
  font-size: 3em;
}
header .hourAdress_each p {
  font-size: 1.7em;
  margin: 0;
}

.sectionAbout {
  background-color: #F0ECEB;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 100px;
  padding-bottom: 70px;
  gap: 50px;
}
.sectionAbout div {
  max-width: 50%;
}
.sectionAbout div h2 {
  font-size: 3em;
  font-family: "InriaSerif";
  padding-bottom: 20px;
}
.sectionAbout div h3 {
  font-family: 2em;
  font-family: "Grenze";
  padding-bottom: 20px;
}
.sectionAbout div p {
  font-size: 1.3em;
}
.sectionAbout div .coffeeImg {
  max-width: 500px;
  margin-top: -50px;
}

.sectionMenu {
  background-color: #E4E0DD;
}
.sectionMenu .grid .grid-1 {
  max-width: 75%;
  height: 600px;
  padding-bottom: 20px;
  margin: auto;
}
.sectionMenu .grid .grid-2 {
  max-width: 75%;
  height: 500px;
  margin: auto;
}
.sectionMenu .grid img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  margin-top: -70px;
}
.sectionMenu .menu {
  margin: auto;
  max-width: 75%;
  padding-bottom: 70px;
}
.sectionMenu .menu h3 {
  font-family: "InriaSerif";
  font-weight: bold;
  font-size: 3em;
  padding-bottom: 20px;
}
.sectionMenu .menu h4 {
  font-family: "Grenze";
  padding-bottom: 20px;
  font-size: 2em;
}
.sectionMenu .menu .tableDrink {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 70px;
}
.sectionMenu .menu .tableDrink_1 {
  width: 50%;
  border-top: 1px solid #222;
}
.sectionMenu .menu .tableDrink_2 {
  width: 50%;
  border-top: 1px solid #222;
}
.sectionMenu .menu .tableDrink_each {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #222;
  padding: 10px 0;
}
.sectionMenu .menu .tableDrink_each p {
  margin: 0;
  font-size: 1.3em;
}/*# sourceMappingURL=style.css.map */